body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(185, 190, 190);
}

header h1 {
  margin-bottom: 0;
  text-decoration: underline white 2px;
}
header p {
  margin-top: 0;
}

/* Estilos body */
main {
  display: flex;
}

section {
  display: flex;
  flex-wrap: wrap;
}
section.productList {
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}
h2 {
  font-size: 24px;
  margin-top: 0;
}

/* Estilos de la lista de productos */
#product-list {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  width: 150px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(162, 160, 160, 0.519) 0px 5px 10px;
}

li img {
  max-width: 100%;
  height: auto;
}

li button {
  background-color: white;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  height: 35px;
  justify-content: center;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  margin: 1rem;
  width: auto;
  cursor: pointer;
}

/* Estilos del carrito de compras */
#cart {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 50vw;
  background-color: #f4f4f4;
}

#cart h3 {
  text-align: center;
}
#cart ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline-start: 0px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
#cart ul li {
  border: none;
  box-shadow: none;
  text-align: justify;
}

